<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Магазин</title>
</head>
<body>
    <form id="authorization_form">
        <h3 class="center">Авторизация</h3>

        <p><label>Логин <input name="login"></label></p>
        <p><label>Пароль <input type="password" name="password"></label></p>

        <p><INPUT class="center" type="submit" onclick="start()" value="Войти"></p>
    </form>
<script src="script.js"></script>
</body>
</html>
