{% extends "base.html" %}

{% block title %}
<title>OzonExpress</title>
{% endblock %}

{% block body %}
<body>
    <div class="container py-3">
      <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="/static/logo.png" style="width: 250px">
          </a>

          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            {% if user.email == 'admin@OzonExpress.ru' %}
            <a class="me-3 py-2 text-dark text-decoration-none" href="{{url_for('add_product')}}">Добавить товар</a>
            {% endif %}
            <a class="me-3 py-2 text-dark text-decoration-none" href="{{url_for('registration')}}">Регистрация</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="{{url_for('authorization')}}">Авторизация</a>
            {% if user.name != 'Гость' %}
            <a class="me-3 py-2 text-dark text-decoration-none" href="{{url_for('favourites')}}">Избранное</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="{{url_for('basket')}}">Корзина</a>
            <a class="me-5 py-2" href="{{url_for('profile')}}">{{user['name']|add_hello()}}</a>
            {% endif %}
          </nav>
        </div>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <p class="fs-5 text-muted">Самая длинная распродажа 11.11! С 01.11 по 11.12 на OzonExpress скидки до -70%!</p>
        </div>
      </header>

      <div class="text-center" style="position: absolute; z-index: 999999" id="MyAlertBlock"></div>

      {% with messages = get_flashed_messages() %}
         {% if messages %}
            {% for message in messages %}
               <div onload="anim()" class="alert alert-success alert-dismissible" role="alert">{{message}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
            {% endfor %}
         {% endif %}
      {% endwith %}

      <div class="container">
        <div class="row">
          <aside class="col-2">

        <div class="card">
          <label class="text-center">Фильтры</label>
            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Тип товара</h6>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_1" style="">
                    <div class="card-body">
                        <form method="post" class="pb-3">
                        <div class="input-group">
                          <input type="text" value="{{ filter.find_word }}" class="form-control" name="find_word" placeholder="Искать">
                          <div class="input-group-append">
                            <button class="btn btn-light" type="submit"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                        </form>

                        <ul class="list-menu">
                        <li><a href="{{url_for('category', product_type='Картины')}}">Картины </a></li>
                        <li><a href="{{url_for('category', product_type='Машины')}}">Машины </a></li>
                        <li><a href="{{url_for('category', product_type='Животные')}}">Животные </a></li>
                        <li><a href="{{url_for('category', product_type='Одежда')}}">Одежда </a></li>
                        <li><a href="{{url_for('category', product_type='Еда')}}">Еда </a></li>
                        </ul>
                    </div>
                </div>
            </article>
            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Цена </h6>
                    </a>
                </header>
                <form method="post">
                     <div class="filter-content collapse show" id="collapse_3" style="">
                    <div class="card-body">
                        <div class="form-row">
                        <div class="form-group col-md-8">
                          <label>Мин</label>
                          <input class="form-control" name="min_price" value="{{filter.min_price}}" placeholder="100 руб" type="number">
                        </div>
                        <div class="form-group text-right col-md-8">
                          <label>Макс</label>
                          <input class="form-control" name="max_price" value="{{filter.max_price}}" placeholder="1000 руб" type="number">
                        </div>
                        </div>
                        <button type="submit" class="btn btn-block btn-primary">Подтвердить</button>
                    </div>
                </div>
                </form>

            </article>
        </div>

      </aside>
          <div class="col-10">
                <main>
                  <div class="row row-cols-3 row-cols-md-3 mb-3 text-center">
                    {%for p in products%}
                      {% if not filter.category or filter.category|lower == p.category|lower %}
                      {% if filter.find_word|lower in p.name|lower %}
                      {% if (not filter.min_price or p.price >= filter.min_price) and (not filter.max_price or p.price <= filter.max_price) %}
                          <div class="mx-1 card g-2" style="width: 16rem;">
                            <a href="{{ url_for('product', product_id=p.id) }}">
                              <img src="/static/product{{p.id}}.jpg" style="object-fit: cover; height: 250px; border-radius: 10px;" class="card-img-top"></a>
                            <div class="card-body my-auto">
                              <h5 class="card-title">{{p.name}}</h5>
                              <h3 class="card-title">{{p.price}} руб</h3>
                              <button onclick="add_to_basket('{{user.name}}', {{p.id}})" class="btn btn-primary btn-lg">Купить</button>
                              <button onclick="add_to_favourites('{{user.name}}', {{p.id}})" class="btn btn-labeled btn-danger"><span class="btn-label"><i class="fa fa-thumbs-up"></i></span></button>
                              {% if user.email == 'admin@OzonExpress.ru' %}
                                <a href="{{ url_for('edit_product', product_id=p.id) }}">Изменить</a>
                              {% endif %}
                            </div>
                          </div>
                      {% endif %}
                      {% endif %}
                      {% endif %}
                    {% endfor %}
              </div>
            </main>
          </div>
        </div>
      </div>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">© 2017–2022</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
</body>
{% endblock %}

{% block script %}
    <script>
        MyAlertBlock = document.getElementById('MyAlertBlock')
    </script>
{% endblock %}
