{% extends "base.html" %}

{% block body %}
    <div>
        <p><label><input type="checkbox"> math</label></p>
        <p><label><input type="checkbox"> math</label></p>
        <p><label><input type="checkbox"> math</label></p>
        <p><label><input type="checkbox" checked> informatics</label></p>
    </div>

<!--    <div>-->
<!--        <p><label>Lesson: {{lesson}}</label></p>-->
<!--        <p><label>Person name: {{person.name}}</label></p>-->
<!--        <p><label>Person age: {{person.age}}</label></p>-->
<!--    </div>-->
{% endblock %}
