{% extends "base.html" %}

{% block title %}
<title>Регистрация</title>
{% endblock %}

{% block style %}
<style>
  .gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
  }
  .gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
  }
</style>
{% endblock %}

{% block body %}
    <section class="vh-100 bg-image"
      style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">Создание аккаунта</h2>

                  <form id="form" method="post">

                    <div class="form-outline mb-4">
                      <input id="name" type="text" name="name" class="form-control form-control-lg" />
                      <label class="form-label" for="name">Имя</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input id="email" type="email" name="email" class="form-control form-control-lg" />
                      <label class="form-label" for="email">Email</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input id="password" type="password" name="password" class="form-control form-control-lg" />
                      <label class="form-label" for="password">Пароль</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input id="password2" type="password" name="password2" class="form-control form-control-lg" />
                      <label class="form-label" for="password2">Повторите пароль</label>
                    </div>

                    <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2" type="checkbox" value="" id="checkbox" />
                      <label class="form-check-label" for="checkbox">
                        Я согласен(а) с правилами сайта <a href="#!" class="text-body"><u>Озон экспресс</u></a>
                      </label>
                    </div>

                    <div class="d-flex justify-content-center">
                      <button id="submit_button" type="submit"
                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Регистрация</button>
                    </div>

                    <p class="text-center text-muted mt-5 mb-0">Уже есть аккаунт? <a href="{{url_for('authorization')}}"
                        class="fw-bold text-body"><u>Авторизируйтесь здесь</u></a></p>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block script %}
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script>
        $('#submit_button').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                url: '{{ url_for("registration") }}',
                method: 'get',
                dataType: 'html',
                data: {'name': document.getElementById('name').value,
                       'email': document.getElementById('email').value,
                       'password': document.getElementById('password').value,
                       'password2': document.getElementById('password2').value,
                       'checkbox': document.getElementById('checkbox').checked},
                success: function (data) {
                  data = JSON.parse(data)
                  if (data['status'] === 'error') {alert(data['message'])}
                  else {document.getElementById('form').submit()}
                }
            })
        })
    </script>
{% endblock %}